footer.footer
  aside.footMenu
    ul.footMenu__list
      li.footMenu__item
        a(href="").footMenu__item__link ABOUT
      li.footMenu__item
        a(href="").footMenu__item__link PRESS
      li.footMenu__item
        a(href="").footMenu__item__link CAREERS

  aside.footSns
    ul.footSns__list
      li.footSns__item
        a(href="").footSns__link.footSns__link--fb Facebook
      li.footSns__item
        a(href="").footSns__link.footSns__link--tw Twitter
      li.footSns__item
        a(href="").footSns__link.footSns__link--in Instagram
      li.footSns__item
        a(href="").footSns__link.footSns__link--yt YouTube

  small.footCopyright Copyright &copy; teamLab Inc.

