block vars

header.header
  a(href="./01_top.html").header__logo__link.js-pjax__link

    if filePath === '/'
      h1.header__logo teamLab
        //- img(src="./images/logo.png", alt="teamLab").header__logo__img
    else
      p.header__logo teamLab
        //- img(src="./images/logo.png", alt="teamLab").header__logo__img

  //- nav#menu.headMenu.is-visible
  nav#menu.headMenu
    .headMenu__inr
      p.headMenu__list__toggle WORKS
      //- ul.headMenu__list.is-visible
      ul.headMenu__list
        if filePath === '/02_work_list.html'
          li.headMenu__item.is-current
            a(href="./02_work_list.html").headMenu__item__link.js-pjax__link ALL
        else
          li.headMenu__item
            a(href="./02_work_list.html").headMenu__item__link.js-pjax__link ALL
        li.headMenu__item
          a(href="").headMenu__item__link PICK UP
        li.headMenu__item
          a(href="").headMenu__item__link ART
        li.headMenu__item
          a(href="").headMenu__item__link PRODUCTS
        li.headMenu__item
          a(href="").headMenu__item__link OTHER
        li.headMenu__item
          a(href="").headMenu__item__link LAB

      div.headMenu2
        ul.headMenu2__list
          if filePath === '/03_exhibition_list.html'
            li.headMenu2__item.is-current
              a(href="./03_exhibition_list.html").headMenu2__item__link.js-pjax__link EXHIBITIONS
          else
            li.headMenu2__item
              a(href="./03_exhibition_list.html").headMenu2__item__link.js-pjax__link EXHIBITIONS

          li.headMenu2__item
            a(href="").headMenu2__item__link CONCEPT
          li.headMenu2__item
            a(href="").headMenu2__item__link CONTACT
          li.headMenu2__item
            a(href="").headMenu2__item__link BOOK
          li.headMenu2__item.headMenu2__item--sp
            a(href="").headMenu2__item__link PRESS
          li.headMenu2__item.headMenu2__item--sp
            a(href="").headMenu2__item__link ABOUT
          li.headMenu2__item.headMenu2__item--sp
            a(href="").headMenu2__item__link CAREERS

        .headSearch
          p.headSearch__btn search

          if filePath === '/10_search.html'
            - var headSearchVisible = ' is-visible'
          else
            - var headSearchVisible = ''

          form(action="", class="headSearch__form#{headSearchVisible}")
            input(type="text", placeholder="SEARCH").headSearch__input
            button(type="submit").headSearch__submit search

        aside.headSns
          ul.headSns__list
            li.headSns__item
              a(href="").headSns__link.headSns__link--fb Facebook
            li.headSns__item
              a(href="").headSns__link.headSns__link--tw Twitter
            li.headSns__item
              a(href="").headSns__link.headSns__link--in Instagram
            li.headSns__item
              a(href="").headSns__link.headSns__link--yt YouTube

        .headLangSelect
          p#langSelect.headLangSelect__selected JP
          //- ul#langSelectList.headLangSelect__list.is-visible
          ul#langSelectList.headLangSelect__list
            li.headLangSelect__item
              a(href="").headLangSelect__item__link EN
            li.headLangSelect__item.is-current
              a(href="").headLangSelect__item__link JP
            li.headLangSelect__item
              a(href="").headLangSelect__item__link CN
            li.headLangSelect__item
              a(href="").headLangSelect__item__link TW



  div.headMenu__toggle
    div.headMenu__toggle__inr