aside.pressList
  p.pressList__ttl.fadeIn PRESS
  div.pressList__list
    article.pressList__item.fadeIn
      a(href="").pressList__link
        .pressList__item__info
          p.pressList__item__genre MEDIA
          p.pressList__item__name 週刊アスキー
          time(datetime="2015-10-31").pressList__item__date Oct 31, 2015
        .pressList__item__main
          h3.pressList__item__ttl 日本館はプロジェクションマッピングでお迎え：ミラノ万博レポート
          p.pressList__item__txt ウェブサイト『designboom』に、2015年ミラノ国際博覧会（EXPO Milano 2015）の日本館にて展示される「HARMONY」と「DIVERSITY」が紹介されました。
    article.pressList__item.fadeIn
      a(href="").pressList__link
        .pressList__item__info
          p.pressList__item__genre MEDIA
          p.pressList__item__name 週刊アスキー週刊アスキー週刊アスキー週刊アスキー
          time(datetime="2015-10-31").pressList__item__date Oct 31, 2015
        .pressList__item__main
          h3.pressList__item__ttl 日本館はプロジェクションマッピングでお迎え：ミラノ万博レポート
          p.pressList__item__txt ウェブサイト『designboom』に、2015年ミラノ国際博覧会（EXPO Milano 2015）の日本館にて展示される「HARMONY」と「DIVERSITY」が紹介されました。
    article.pressList__item.fadeIn
      a(href="").pressList__link
        .pressList__item__info
          p.pressList__item__genre MEDIA
          p.pressList__item__name 週刊アスキー
          time(datetime="2015-10-31").pressList__item__date Oct 31, 2015
        .pressList__item__main
          h3.pressList__item__ttl 日本館はプロジェクションマッピングでお迎え：ミラノ万博レポート
          p.pressList__item__txt ウェブサイト『designboom』に、2015年ミラノ国際博覧会（EXPO Milano 2015）の日本館にて展示される「HARMONY」と「DIVERSITY」が紹介されました。
    article.pressList__item.fadeIn
      a(href="").pressList__link
        .pressList__item__info
          p.pressList__item__genre MEDIA
          p.pressList__item__name 週刊アスキー
          time(datetime="2015-10-31").pressList__item__date Oct 31, 2015
        .pressList__item__main
          h3.pressList__item__ttl 日本館はプロジェクションマッピングでお迎え：ミラノ万博レポート
          p.pressList__item__txt ウェブサイト『designboom』に、2015年ミラノ国際博覧会（EXPO Milano 2015）の日本館にて展示される「HARMONY」と「DIVERSITY」が紹介されました。
    article.pressList__item.fadeIn
      a(href="").pressList__link
        .pressList__item__info
          p.pressList__item__genre MEDIA
          p.pressList__item__name 週刊アスキー
          time(datetime="2015-10-31").pressList__item__date Oct 31, 2015
        .pressList__item__main
          h3.pressList__item__ttl 日本館はプロジェクションマッピングでお迎え：ミラノ万博レポート
          p.pressList__item__txt ウェブサイト『designboom』に、2015年ミラノ国際博覧会（EXPO Milano 2015）の日本館にて展示される「HARMONY」と「DIVERSITY」が紹介されました。

  //- p.pressList__more.fadeIn
    a(href="").pressList__more__link All press

  p.pressList__moreBtn.fadeIn All press
