aside.exhibitionList
  p.exhibitionList__ttl.fadeIn EXHIBITED AT
  ul.exhibitionList__list
    li.exhibitionList__item.fadeIn
      a(href="").exhibitionList__link
        figure.exhibitionList__item__inr
          div.exhibitionList__img__wrap
            div.exhibitionList__img__wrap2
              img(data-pc-src="./images/sample_img.jpg", data-sp-src="./images/sample_img.jpg", alt="Floating Flower Garden – 花と我と同根、庭と我と一体 (work in progress)").exhibitionList__img
          p.exhibitionList__tag NOW OPEN
          figcaption.exhibitionList__caption
            p.exhibitionList__name 増殖する生命、永遠の唯一無二
            .exhibitionList__txt__inr
              p.exhibitionList__txt Jul 18 - Dec 25, 2015
              p.exhibitionList__txt 新江ノ島水族館, 神奈川, 日本
    li.exhibitionList__item.fadeIn
      a(href="").exhibitionList__link
        figure.exhibitionList__item__inr
          div.exhibitionList__img__wrap
            div.exhibitionList__img__wrap2
              img(data-pc-src="./images/sample_img.jpg", data-sp-src="./images/sample_img.jpg", alt="Floating Flower Garden – 花と我と同根、庭と我と一体 (work in progress)").exhibitionList__img
          p.exhibitionList__tag NOW OPEN
          figcaption.exhibitionList__caption
            p.exhibitionList__name 増殖する生命、永遠の唯一無二
            .exhibitionList__txt__inr
              p.exhibitionList__txt Jul 18 - Dec 25, 2015
              p.exhibitionList__txt 新江ノ島水族館, 神奈川, 日本
    li.exhibitionList__item.fadeIn
      a(href="").exhibitionList__link
        figure.exhibitionList__item__inr
          div.exhibitionList__img__wrap
            div.exhibitionList__img__wrap2
              img(data-pc-src="./images/sample_img.jpg", data-sp-src="./images/sample_img.jpg", alt="Floating Flower Garden – 花と我と同根、庭と我と一体 (work in progress)").exhibitionList__img
          p.exhibitionList__tag NOW OPEN
          figcaption.exhibitionList__caption
            p.exhibitionList__name 増殖する生命、永遠の唯一無二
            .exhibitionList__txt__inr
              p.exhibitionList__txt Jul 18 - Dec 25, 2015
              p.exhibitionList__txt 新江ノ島水族館, 神奈川, 日本
    li.exhibitionList__item.fadeIn
      a(href="").exhibitionList__link
        figure.exhibitionList__item__inr
          div.exhibitionList__img__wrap
            div.exhibitionList__img__wrap2
              img(data-pc-src="./images/sample_img.jpg", data-sp-src="./images/sample_img.jpg", alt="Floating Flower Garden – 花と我と同根、庭と我と一体 (work in progress)").exhibitionList__img
          p.exhibitionList__tag NOW OPEN
          figcaption.exhibitionList__caption
            p.exhibitionList__name 増殖する生命、永遠の唯一無二
            .exhibitionList__txt__inr
              p.exhibitionList__txt Jul 18 - Dec 25, 2015
              p.exhibitionList__txt 新江ノ島水族館, 神奈川, 日本
    li.exhibitionList__item.fadeIn
      a(href="").exhibitionList__link
        figure.exhibitionList__item__inr
          div.exhibitionList__img__wrap
            div.exhibitionList__img__wrap2
              img(data-pc-src="./images/sample_img.jpg", data-sp-src="./images/sample_img.jpg", alt="Floating Flower Garden – 花と我と同根、庭と我と一体 (work in progress)").exhibitionList__img
          p.exhibitionList__tag NOW OPEN
          figcaption.exhibitionList__caption
            p.exhibitionList__name 増殖する生命、永遠の唯一無二
            .exhibitionList__txt__inr
              p.exhibitionList__txt Jul 18 - Dec 25, 2015
              p.exhibitionList__txt 新江ノ島水族館, 神奈川, 日本
    li.exhibitionList__item.fadeIn
      a(href="").exhibitionList__link
        figure.exhibitionList__item__inr
          div.exhibitionList__img__wrap
            div.exhibitionList__img__wrap2
              img(data-pc-src="./images/sample_img.jpg", data-sp-src="./images/sample_img.jpg", alt="Floating Flower Garden – 花と我と同根、庭と我と一体 (work in progress)").exhibitionList__img
          p.exhibitionList__tag NOW OPEN
          figcaption.exhibitionList__caption
            p.exhibitionList__name 増殖する生命、永遠の唯一無二
            .exhibitionList__txt__inr
              p.exhibitionList__txt Jul 18 - Dec 25, 2015
              p.exhibitionList__txt 新江ノ島水族館, 神奈川, 日本
    li.exhibitionList__item.fadeIn
      a(href="").exhibitionList__link
        figure.exhibitionList__item__inr
          div.exhibitionList__img__wrap
            div.exhibitionList__img__wrap2
              img(data-pc-src="./images/sample_img.jpg", data-sp-src="./images/sample_img.jpg", alt="Floating Flower Garden – 花と我と同根、庭と我と一体 (work in progress)").exhibitionList__img
          p.exhibitionList__tag NOW OPEN
          figcaption.exhibitionList__caption
            p.exhibitionList__name 増殖する生命、永遠の唯一無二
            .exhibitionList__txt__inr
              p.exhibitionList__txt Jul 18 - Dec 25, 2015
              p.exhibitionList__txt 新江ノ島水族館, 神奈川, 日本

  //- p.exhibitionList__more.fadeIn
    a(href="").exhibitionList__more__link All exhibition

  p.exhibitionList__moreBtn All exhibition


