aside.seriesList
  .seriesList__ttl.fadeIn SERIES
  ul.seriesList__list
    li.seriesList__item.fadeIn
      a(href="").seriesList__link
        div.seriesList__img__wrap
          div.seriesList__img(data-pc-src="./images/sample_img.jpg", data-sp-src="./images/sample_img.jpg")
        p.seriesList__name Flowers and People – Gold / 花と人 – Gold
    li.seriesList__item.fadeIn
      a(href="").seriesList__link
        div.seriesList__img__wrap
          div.seriesList__img(data-pc-src="./images/sample_img.jpg", data-sp-src="./images/sample_img.jpg")
        p.seriesList__name Flowers and People – Gold / 花と人 – Gold
    li.seriesList__item.fadeIn
      a(href="").seriesList__link
        div.seriesList__img__wrap
          div.seriesList__img(data-pc-src="./images/sample_img.jpg", data-sp-src="./images/sample_img.jpg")
        p.seriesList__name Flowers and People – Gold / 花と人 – Gold
    li.seriesList__item.fadeIn
      a(href="").seriesList__link
        div.seriesList__img__wrap
          div.seriesList__img(data-pc-src="./images/sample_img.jpg", data-sp-src="./images/sample_img.jpg")
        p.seriesList__name Flowers and People – Gold / 花と人 – Gold
    li.seriesList__item.fadeIn
      a(href="").seriesList__link
        div.seriesList__img__wrap
          div.seriesList__img(data-pc-src="./images/sample_img.jpg", data-sp-src="./images/sample_img.jpg")
        p.seriesList__name Flowers and People – Gold / 花と人 – Gold
    li.seriesList__item.fadeIn
      a(href="").seriesList__link
        div.seriesList__img__wrap
          div.seriesList__img(data-pc-src="./images/sample_img.jpg", data-sp-src="./images/sample_img.jpg")
        p.seriesList__name Flowers and People – Gold / 花と人 – Gold
    li.seriesList__item.fadeIn
      a(href="").seriesList__link
        div.seriesList__img__wrap
          div.seriesList__img(data-pc-src="./images/sample_img.jpg", data-sp-src="./images/sample_img.jpg")
        p.seriesList__name Flowers and People – Gold / 花と人 – Gold
