if !workTtl
  - workTtl = 'WORKS'

aside.workListLittle
  .workListLittle__ttl.fadeIn= workTtl
  ul.workListLittle__list
    li.workListLittle__item.fadeIn
      figure.workListLittle__img__wrap(style="background-image:url(./images/sample_img.jpg)")
        img(src="./images/sample_img.jpg", alt="HARMONY, Japan Pavilion, Expo Milano 2015").workListLittle__img
        a(href="").workListLittle__img__btn Play movie
          script.js-embedTag(type='text/x-embedtag')
            <iframe class="workListLittle__movie" src="https://www.youtube.com/embed/c9fnMu2NT_s?autoplay=1" frameborder="0" allowfullscreen></iframe>
        a(href="https://www.google.com/", target="_blank").workListLittle__playYouku youku
      .workListLittle__item__inr
        p.workListLittle__item__ttl
          a(href="").workListLittle__item__ttl__link HARMONY, Japan Pavilion, Expo Milano 2015
        p.workListLittle__info チームラボ, 2015, インタラクティブデジタルインスタレーション, 音楽: 高橋英明
        p.workListLittle__btn__wrap
          a(href="").workListLittle__btn.workListLittle__btn--play Play movie
            script.js-embedTag(type='text/x-embedtag')
              <iframe class="workListLittle__movie" src="https://www.youtube.com/embed/c9fnMu2NT_s?autoplay=1" frameborder="0" allowfullscreen></iframe>
        p.workListLittle__btn__wrap
          a(href="").workListLittle__btn View more
        p.workListLittle__playYouku__wrap
          a(href="https://www.google.com/", target="_blank").workListLittle__playYouku.workListLittle__playYouku--sp youku

    li.workListLittle__item.fadeIn
      figure.workListLittle__img__wrap(style="background-image:url(./images/sample_img.jpg)")
        img(src="./images/sample_img.jpg", alt="HARMONY, Japan Pavilion, Expo Milano 2015").workListLittle__img
        a(href="").workListLittle__img__btn Play movie
          script.js-embedTag(type='text/x-embedtag')
            <iframe class="workListLittle__movie" src="https://www.youtube.com/embed/c9fnMu2NT_s?autoplay=1" frameborder="0" allowfullscreen></iframe>
        a(href="https://www.google.com/", target="_blank").workListLittle__playYouku youku
      .workListLittle__item__inr
        p.workListLittle__item__ttl
          a(href="").workListLittle__item__ttl__link HARMONY, Japan Pavilion, Expo Milano 2015
        p.workListLittle__info チームラボ, 2015, インタラクティブデジタルインスタレーション, 音楽: 高橋英明
        p.workListLittle__btn__wrap
          a(href="").workListLittle__btn.workListLittle__btn--play Play movie
            script.js-embedTag(type='text/x-embedtag')
              <iframe class="workListLittle__movie" src="https://www.youtube.com/embed/c9fnMu2NT_s?autoplay=1" frameborder="0" allowfullscreen></iframe>
        p.workListLittle__btn__wrap
          a(href="").workListLittle__btn View more
        p.workListLittle__playYouku__wrap
          a(href="https://www.google.com/", target="_blank").workListLittle__playYouku.workListLittle__playYouku--sp youku
